
<center><h3>Institutes</h3></center>
<hr class="colorgraph">
<table class="table">
  <thead>
    <tr>
      <th>City</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutes.each do |institute| %>
      <tr>
        <td><%= institute.city.name %></td>
        <td><%= institute.name %></td>
        <td><%= link_to 'Show', institute %></td>
        <td><%= link_to 'Edit', edit_institute_path(institute) %></td>
        <td><%= link_to 'Destroy', institute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr class="colorgraph">

<br>

<%= link_to 'New Institute', new_institute_path %>
