<table style="width:100%">
  
  <tr>
    <td><strong>Father Name:</strong></td>
    <td><%= @user.fname %></td>
  </tr>

  <tr>
  <td><strong>Date of Birth:</strong></td>
  <td><%= @user.dob %></td>  
  </tr>
  

  <tr>
  <td><strong>Email:</strong></td>
  <td><%= mail_to @user.email %></td>  
  </tr>
  
  <tr>
    <td><strong>Mobile:</strong></td>
    <td><%= @user.mobile %></td>  
  </tr>

<tr>
    <td><strong>CNIC:</strong></td>
    <td><%= @user.cnic %></td>
  </tr>
  
  <tr>
  <td><strong>Gender:</strong></td>
  <td><%= @user.gender %></td>  
  </tr>

  
  <tr>
  <td><strong>Address:</strong></td>
  <td><%= @user.address %></td>
  </tr>
  
</table>

<br>
